==
<?php
    function onStart() {
        $this['loggedIn'] = Auth::check();
    }
?>
==
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://thoroughlyreviewed.com/resources/the-complete-resource-guide-for-dog-owners/" rel="noopener" target="_blank">Training Library</a>
                    </li>
                    <li class="{% if( this.page.id == 'donate') %}active {% endif %}">
                        <a href="{{ 'donate'|page }}">Donate</a>
                    </li>
                    <li class="{% if( this.page.id == 'faq') %}active {% endif %}">
                        <a href="{{ 'faq'|page }}">FAQs</a>
                    </li>

                    {% if loggedIn %}
                        <li class="{% if( this.page.id == 'foster') %}active {% endif %}">
                            <a href="{{ 'foster'|page }}">Foster</a>
                        </li>
                        <li class="{% if( this.page.id == 'app.account-auth-logout') %}active {% endif %}">
                            <a href="{{ 'app.account/auth-logout'|page }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="{% if( this.page.id == 'app.account-auth-login') %}active {% endif %}">
                            <a href="{{ 'app.account/auth-login'|page }}">Login</a>
                        </li>
                        <li class="{% if( this.page.id == 'app.account-auth-register') %}active {% endif %}">
                            <a href="{{ 'app.account/auth-register'|page }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>